// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

#section-features {
  // set background
  // background-color: #ededed;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

// Hero block with wide text layout
.hero-wide-text .hero-media {
  flex: 0 0 40%;
  max-width: 40%;
}

.hero-wide-text .text-md-left {
  flex: 0 0 60%;
  max-width: 60%;
  font-size: 1.25rem;
}

.fas {
  color: #0055aa;
}
